<span {{action 'click'}}>{{yield}}</span>
{{#if confirmMode}}
  <div class="ece-bubble">
    <div class="ece-question">{{questionText}}</div>
    <div class="ece-buttons">
      <span class="ece-confirm" {{action 'confirm'}}>{{confirmText}}</span>
      <span class="ece-decline" {{action 'decline'}}>{{declineText}}</span>
    </div>
  </div>
{{/if}}
